*,
*:before,
*:after {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

body {
	font-size: 100%;
	font-family: 'Noto Sans', sans-serif;
	font-style: normal;
}

.header-content,
.footer-content {
	width: 70%;
	/* mobile width: 100% */
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.row1 {
	margin-top: 20px;
}  
.logo-img {
	width: 110px;
} 
.header-content .nav-bar {
	width: 80%;
	display: flex;
	justify-content: space-around;

}
.footer-content .nav-bar {
	width: 35%;
	display: flex;
	justify-content: space-around;

}
.nav-bar ul {
	width: 100%;
	display: flex;
	justify-content: space-around;
}
.nav-bar ul li {
	list-style: none;
	display: inline; 
}
.nav-bar li a { 
	font-size: 0.8em;
	text-decoration: none;
	color: black;
}

.main-container {
	width: 80%;
	margin: auto;
}

a.contact-number {
	text-decoration: none;
}

.inline-el {
	display: inline;
}

.inline-block-el {
	display: inline-block;
}

.block-content {
	display: block;
}

.dark-aqua-color {
	color: #46D3C6;
}

.light-aqua-color {
	color: #8CECE2;
}

.sky-blue-color {
	color: #D0F5F1;
}


.bold-text {
	font-weight: bold;
}

.hr-line {
	width: 40px;
	border-color: #8CECE2;
	margin-bottom: 80px;
}

.nav-bar li a.button-bg,
.contact-container,
#request-button {
	background-color: #46D3C6;
	color: white;
	padding: 15px;
}

a.contact-number {
	color: white;
	font-weight: bold;
	display: block;
}

div.contact-container {
	text-align: center;
	margin-bottom: 24px;
}

div.button-bg {
	background-color: #46D3C6;
	font-weight: bold;
	color: white;
	padding: 15px;
}

div.row2 {
	text-align: center;
	margin: 60px 0px 40px 0px;
}

div.row3 {
	display: flex;

}
div.row3-col1 {
	width: 40%; 
}

div.row3-col1 p {
	line-height: 1.6;
	/* text-align: justify; */
}

div.row3-col2 {
	width: 50%; 
}


.form-col1, .form-col2 {
	width: 50%;
	float: left;
}

form input, form select, form textarea {
	margin: 5px 0px;
	padding: 15px;
	display: block;
}
form label {
	margin-bottom: 5px;
}
textarea {
	resize: none;
	display: block;
}

.row3-col2 .contact-container, input, select, textarea, .button-bg {
	border-radius: 5px;
	border-color: lightgrey;
}

.footer-container {
	line-height: 10;
	width: 100%;
}

.footer-content .logo-img {
	margin-right: 12%;
}

.footer-nav-bar {
	display: inline;
	font-size: 0.75em;
}

.footer-nav-bar a {
	margin-right: 3.13%;
}

.table-container {
	margin-top: 20px;
}
.form-entries {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	border: 1px solid #ddd;
	font-size: 1em;
}

th,
td {
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #f2f2f2
}

.error-msg {
	color: red;
	display: block;
	visibility: hidden;
}

