* {
	box-sizing: border-box;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

body {
	font-size: 100%;
	/* sans-serif has better readability on computer */
	font-family: 'Noto Sans', sans-serif;
	font-style: normal;
	width: 80%;
	margin: auto;
}
div.row1-col2-nav-bar li {
	list-style: none;
	display: inline;
}

a {
	text-decoration: none; 
	color: black;
}




.inline-el {
	display: inline;
}
.inline-block-el {
	display: inline-block;
}
/* img {
	max-width:100%; images can grow till their original size only
	height:auto;
} */

.dark-aqua-color {
	color: #46D3C6; 
}

.light-aqua-color {
	color: #8CECE2; 
}

.sky-blue-color {
	color: #D0F5F1; 
}


.bold-text {
	font-weight: bold;
}
.row1-col1-logo {
	float: left;
	margin-right: 15%;
	margin-top: 1.56%;
}
.logo-img {
	width: 110px;
	height: auto;
}

.row1-col2-nav-bar {
	
	display: inline;
	font-size: 0.8em;
}

.row1-col2-nav-bar a {
	color: black;
	display: inline-block;
	margin: 1.56% 8% 0.94% auto;
}

.hr-line {
	width: 40px;
	border-color: #8CECE2;
	margin-bottom: 5%;
}
a.button-bg, .contact-container, .submit-button {
	background-color: #46D3C6;
	color: white; 
	padding: 15px; 
}


a.contact-number {
	color: white;
	font-weight: bold;
}
div.contact-container {
	text-align: center;
	margin-bottom: 1.56%;
}
div.button-bg {
	background-color: #46D3C6;
	font-weight: bold;
	color: white; 
	padding: 15px; 
}

div.row2 {
	text-align: center;
	margin: 3.75% 0% 2.5% 0%;
}

div.row3-col1 {
	width: 40%;
	float: left;
	margin-right: 3.13%;
}

div.row3-col1 p {
	line-height: 2;
	text-align: justify;
}

div.row3-col2 {
	width: 50%;
	float: left;
}

div.row3-col2 .contact-container {
	width: 100%;
}
.form-col1, .form-col2 {
	width: 50%;
	float: left;
}

form input, form select, form textarea {
	margin: 1.25% 0.63% 1.88% 0%;
	padding: 15px;
	display: block;
}

textarea {
	resize: none;
	display: block;
}


.inline-el {
	float: left;
}
footer li {
	list-style: none;
}


.row3-col2 .contact-container, input, select, textarea, .button-bg {
	border-radius: 5px;
	border-color: lightgrey;
}

.footer-container {
	line-height: 10;
}

.footer-container .logo-img {
	width: 110px;
	margin-right: 20%;
}
.footer-nav-bar {
	display: inline;
	font-size: 0.75em;
}
.footer-nav-bar a {
	margin-right: 3.13%;
}

.form-entries-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 0.8em;

}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

/* .-button, .reset-button {
	float: left;
} 

.submit-button {
	margin-right: 100px;
} */

/* margin: 0 auto; */

/* will use
font-size: some em; some vw means viewport width:
media query
*/